body {
    background-image: url('https://www.collinsdictionary.com/images/full/stopwatch_113144674.jpg');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
  }

  h1 {
    width: 150px;
    color: black;
    background-color: #3FFF;
    display: inline-table;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

button{
    background-color: #5858a0;
    padding: 10px 38px;
    border: 1px solid #A9A9A9;
    border-radius: 58px;
    color: #fff;
    transition: all .2s ease;
    outline: 0;
}
button:not(:last-child){
    margin-right: 20px;
}
button:hover,
button:focus
{
    border-color: #F6B400;
    color: #F6B400;
    box-shadow: 0px 4px 27px -12px #F6B400;
}